html{
    font-size: 18px
}

*{
    box-sizing: border-box;
}


body {
    font-family: arial, Helvetica, sans-serif;
}

header {
    background-image: url(../css/img/purplesky.jpg);
    background-size: cover;
    text-transform: uppercase;
    text-align: center;
    background-position: center, center;
}

#maintitle{
    text-decoration: none;
}

h1 {
    color: white;
    
}

ul { 
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
}

footer{

}