*{
    box-sizing: border-box;

}
/* forsiktig bruk av *, den er universielle og velger ALLE elementene i html-en!
    Gjør dette som det FØRSTE jeg skriver i css-et*/

body{
    font-family: Arial, Helvetica, sans-serif;

}

img{
    width: 100%;
    max-width: 400px;
}

#main-logo{
    margin: 0px auto;
    width: 100%;
    max-width: 250px;
    display: block;
}
/* Husk å sjekke de andre sidene når jeg stiletter forsiden*/
.flex-menu{
    /* nå er alle ul listene på hele siden */
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.flex-menu{
    text-decoration: none;
    color: black;
}
.flex-space-b{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.flex-space-b h2{
    width: 100%;
    
}
.flex-space-b form label{
    position: relative;
}
.flex-space-b form label{
    visibility: hidden;
    position: absolute;
}
#outlet{
    color: #a52a2a;

}
.product-card {
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    box-shadow: 10px 10px 10px 10px #efefef;
    border-radius: 5px;
    padding: 1rem;
}

/* OPPGAVE FREDAG: SKO SIDEN SKAL OPPDATERES ETTER DETTE OGSÅ!*/ 
